<div class="card mb-3">
    <div class="card-body d-flex justify-content-between">
        <i class="bi bi-people-fill" style="font-size: 1.5rem;"></i>
        <h5>{{ groupName }}</h5>
        <p class="d-inline-flex gap-1">
            <button class="btn btn-primary" (click)="editGroup()">Edit</button>
            <button class="btn btn-danger" data-bs-toggle="modal" (click)="open(content)">Delete</button>
        </p>
    </div>
  </div>
  <ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">
        Delete group {{ groupName }}?
      </h4>
      <button
        type="button"
        class="btn-close"
        aria-label="Close"
        (click)="modal.dismiss('Cross click')"
      ></button>
    </div>
    <div class="modal-body">
      If you delete the group, all the expenses in it will be deleted as well. You
      can not redo this.
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="modal.close()">
        Close
      </button>
      <button
        type="button"
        class="btn btn-danger"
        (click)="modal.close('Save click'); deleteGroup()"
      >
        Delete
      </button>
    </div>
  </ng-template>
  