<nav class="navbar navbar-dark navbar-expand-lg bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Splitter</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li ngbDropdown class="nav-item dropdown">
          <a class="nav-link active" ngbDropdownToggle id="navbarDropdown" role="button" aria-haspopup="true" aria-expanded="false"  *ngIf="roleMatch([admin])">Admin</a>
          <div ngbDropdownMenu aria-labelledby="navbarDropdown">
            <a class="dropdown-item" (click)="navigateAdminGroups()">Groups</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" (click)="navigateAdminUsers()">Users</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/user" *ngIf="roleMatch([user, admin])">My profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/groups" *ngIf="roleMatch([user,admin])">Groups</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/expenses" *ngIf="roleMatch([user,admin])">Expenses</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/debts" *ngIf="roleMatch([user,admin])">Debts</a>
        </li>
      </ul>
      <button *ngIf="!isLoggedin()" class="btn btn-outline-primary btn-light"routerLink="/register">Register</button>
      <button *ngIf="isLoggedin()" class="btn btn-outline-danger btn-light" (click)="logout()" >Logout</button>
      <button *ngIf="!isLoggedin()" class="btn btn-outline-primary btn-light"routerLink="/login">Login</button>
    </div>
  </div>
</nav>