<div class="row">
    <div class="text-center text-muted">Admin</div>
  </div>
  <div class="row">
    <div class="text-center">
      <P class="display-4">
        Groups
      </P>
    </div>
  </div>
  <div class="row d-flex justify-content-center">
    <div class="col-md-8">
      <ng-container *ngIf="groups.length > 0; else emptyBlock">
        <ng-container *ngFor="let group of groups">
            <div class="row">
                <app-admin-group-card
                [id]="group.id"
                [groupName]="group.name"
                ></app-admin-group-card>
            </div>
        </ng-container>
      </ng-container>
      <ng-template #emptyBlock>
        <p class="d-flex justify-content-center text-muted">You are not in any groups yet</p>
      </ng-template>
    </div>
  </div>