<ng-container *ngIf="loaded">
  <div class="row mb-4 mt-2">
    <div class="col-auto">
      <button
        type="button"
        class="btn btn-primary rounded-circle"
        title="Back"
        (click)="goBack()"
      >
        <i class="bi bi-arrow-left" style="font-size: 1.5rem; color: white"></i>
      </button>
    </div>
    <div class="col">
      <h1 class="text-center">{{ details.name }}</h1>
    </div>
    <div class="col-auto">
      <button class="btn btn-primary" (click)="navigateToEdit()">Edit group</button>
    </div>
  </div>
  <div class="row mb-4">
    <ng-container *ngIf="expenses.length > 0">
      <div class="container d-flex justify-content-evenly">
        <div class="col-auto">Balance:</div>
        <div class="col-auto">
          <div *ngFor="let balance of balances">
            <ng-container *ngIf="balance.youAreOwed.length > 0">
              {{ balance.other.username }} owes you
              <ng-container *ngFor="let debt of balance.youAreOwed; let last = last">
                {{debt.amount}} {{debt.currency}}
                <ng-container *ngIf="!last">, </ng-container>
              </ng-container>
            </ng-container>
            <ng-container *ngIf="balance.youOwe.length > 0">
              You owe
              <ng-container *ngFor="let debt of balance.youOwe; let last = last">
                {{debt.amount}} {{debt.currency}}
                <ng-container *ngIf="!last">, </ng-container>
              </ng-container>
              to  {{ balance.other.username }}
            </ng-container>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
  <div class="row">
    <div class="col-md">
      <div class="row">
        <div class="card">
          <div class="card-body">
            <div class="card-title text-center">
              <h5>Members:</h5>
            </div>
            <div class="card-text">
              <div *ngFor="let member of members">
                <div class="row mb-2">
                  <div class="col-md text-center">
                    <div
                      *ngIf="
                        member.firstName && member.lastName;
                        else usernameBlock
                      "
                    >
                      {{ member.firstName }} {{ member.lastName }}
                    </div>
                  </div>
                  <ng-template #usernameBlock>
                    {{ member.username }}
                  </ng-template>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-8">
      <ng-container *ngFor="let payment of payments">
        <ng-container *ngFor="let paymentA of payment.userAPaid">
          <app-payment-card
          [payerId]="payment.userAId"
          [payerUsername]="payment.userAname"
          [recieverId]="payment.userBId"
          [recieverUsername]="payment.userBname"
          [amount]="paymentA.amount"
          [currency]="paymentA.currency"
          ></app-payment-card>
        </ng-container>
        <ng-container *ngFor="let paymentB of payment.userBPaid">
          <app-payment-card
          [payerId]="payment.userBId"
          [payerUsername]="payment.userBname"
          [recieverId]="payment.userAId"
          [recieverUsername]="payment.userAname"
          [amount]="paymentB.amount"
          [currency]="paymentB.currency"
          ></app-payment-card>
        </ng-container>
      </ng-container>
      <ng-container *ngIf="details.expenses.length > 0; else emptyBlock">
        <div class="row" *ngFor="let expense of details.expenses">
          <app-expense-card
            [id]="expense.id"
            [payerName]="expense.payerName"
            [currency]="expense.currency"
            [distributionTypeKey]="expense.distribution"
            [expenseAmount]="expense.amount"
            [expenseName]="expense.name"
            [youOwe]="expense.debtAmount"
          ></app-expense-card>
        </div>
      </ng-container>
      <ng-template #emptyBlock>
        <p class="d-flex justify-content-center text-muted">There are no expenses</p>
      </ng-template>
    </div>
    <div class="col-md">
    </div>
  </div>
  <div class="fixedButton">
    <div class="col text-end">
      <div ngbDropdown placement="top-end" class="d-inline-block">
        <button type="button" class="btn btn-primary" id="dropdownBasic2" ngbDropdownToggle>Actions</button>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic2">
          <button ngbDropdownItem (click)="navigateToAddExpense()">Add expense</button>
          <button ngbDropdownItem (click)="navigateToBalances()">Settle up</button>
        </div>
      </div>
    </div>
  </div>
</ng-container>
